<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Pair Generator</title>
  <meta name="description" content="Slack app for generating pairs for pair programming">
  <meta name="author" content="Udeep Tandukar">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='../static/images/logo-pair-gen.png' rel='icon' type='image/png'>
</head>

<body>
  <div class="container" style="max-width:768px;">
    <div class="row">
      <div class="col-sm-12 h">
        <a href="/"><img src="../static/images/logo-pair-gen.png" style="margin-top: 25px; position: absolute;" /></a>
        <span style="float: left; margin-left: 125px;">
          <h1 style="font-weight: normal; margin: 30px 0 10px 0; color: #232423;">Pair Generator</h1>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 h" style="padding-top: 40px;">
        <h2>Support</h2>
        <p>If you have any concerns at all, please contact me at 
          <a href="mailto:udeeptandukar@gmail.com" target="_top">udeeptandukar at gmail dot com.</a></p>
        <br />
      </div>
    </div>
  </div>
</body>
</html>