<h2>Privacy Policy</h2>
<br />
<p>Information about slack channel and team are stored along with member name provided using <b>member-add</b> command.
<b>show-config</b> command can be used to see what is the configuratin that is stored by <b>Pair Generator</b>. We use
member names to generate random teams of pairs and push it to slack channel everyday at 8 am or when <b>generate</b>
command is sent.</p>
<p>All connections between Pair Generator and Slack are made over valid secure connections. We don't store any other
information from slack channel or team except what is given using <b>/pair-generator</b> slash command.</p>
<p>If you have any concerns at all, please contact me at udeeptandukar at gmail dot com.</p>